@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff2"),
      url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff"),
      url("../fonts/vazir/Vazir-Bold-FD-WOL.ttf") format("truetype");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color:white;
  }

body {
    font-family: "vazir", sans-serif;
   
  }

.bg-color{
    background: #333;
    color: white;
}
 
.text-primary{
    color:orange;
}
.l-heading{
    font-size: 2rem;
}
.m-heading{
    font-size: 1rem;
}
.bold{
    font-size: 1.3rem;
    font-weight: bold;
}
.btn{
    background: orange;
    color: white;
    padding: 0.5rem 2rem;
    
    border-radius: 5px;
}
.btn:hover{
    color: orange;
    background: white;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.text-center{
    text-align: center;
}
.list{
    margin: 0.50rem;
    list-style: none;
}
.list li{
    border-bottom: #444 dotted 1px;
    padding: 0.5rem 0;
}
.m-1 {margin: 1.25rem;}
.m-2 {margin: 2rem;}
.m-3 {margin: 3rem;}

.p-1 {padding: 1.25rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}


.py-1{padding: 1.25rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}


#navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0 ;
}

#navbar ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    
}
 
#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover {
    background: orange;
    color: white;
    border-radius: 5px ;
}
#showcase{
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
#section1 .items{
    display: flex;
    padding: 1rem;
}
#section1 .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem ;
    background: white;
    border-radius: 1rem;
    margin-left: 1rem;
}
#section1 .items .item i {
    background: orange;
    padding: 0.75rem;
    border-radius: 50%;
}
#section2{
    display: flex;
}

#section2 div{
    flex: 1;
}
#section2 .img{
    background: url("../img/section2.jpg") no-repeat center center/cover;
}
#section2 .content{
    text-align: right;
}
#section2 h2{
    display: block;
    background: rgb(173, 172, 168);    
    text-align: center;
    color: #333;
    border-radius: 0.5rem;
    padding: 1rem;
}
#section3 .items{
    display: flex;
}
#section3 .items div {
flex: 1;
}
#section3 .items img{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 60%;
}
#content{
    display: flex;
    justify-content: center;
}
#content .contact-form {
    flex-basis: 600px;
    text-align: right;
}
#content .contact-form lable{
    display: block;
    margin: 1rem 0;
}
#content .contact-form input , textarea{
    width: 100%;
    padding: 0.5rem;
}
#main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}